* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00010D;
}

header > h2 {
    padding: 10px;
    text-align: center;
    color: #F2F2F2;
}

main {
    display: grid;
    align-content: center;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    grid-template-areas: 
    "one two three four"
    "five six seven seven"
    "five eight eight nine";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 8px;
    margin-top: 40px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #737373;
}

main div {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main > div.seven, main > div.eight {
    width: auto;
    height: auto;
}

main div:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all .4s;
}

main > div.one {
    grid-area: one;
    background-image: url(../images/img-1.jpg);
}

main > div.two {
    grid-area: two;
    background-image: url(../images/img-2.jpg);
}

main > div.three {
    grid-area: three;
    background-image: url(../images/img-3.jpg);
}

main > div.four {
    grid-area: four;
    background-image: url(../images/img-4.jpg);
}

main > div.five {
    grid-area: five;
    height: auto;
    background-image: url(../images/img-5.jpg);
}

main > div.six {
    grid-area: six;
    background-image: url(../images/img-6.jpg);
}

main > div.seven {
    grid-area: seven;
    background-image: url(../images/img-7.jpg);
}

main > div.eight {
    grid-area: eight;
    background-image: url(../images/img-8.jpg);
}

main > div.nine {
    grid-area: nine;
    background-image: url(../images/img-9.jpg);
}

@media (max-width: 700px) {
    main {
        max-width: 300px;
        grid-template-areas: 
        "one one"
        "two three"
        "four six"
        "five five"
        "eight seven"
        "nine seven";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-gap: 6px;
        margin-top: 20px;
    }
    
    main div {
        height: 130px;
        width: 130px;
    }

    main > div.one {
        width: auto;
    }

    main > div.five {
        width: auto;
        height: 130px;
    }

    main > div.seven {
        height: auto;
    }

    main > div.eight {
        width: auto;
        height: 130px;
    }
}